<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  
  <object name="ClassWithNoCtors" singleton="false">
    <property name="InjectedString" value="injected string with spring" />
  </object>

  <object name="ClassWithStaticCtor" singleton="false">
    <property name="InjectedString" value="injected string with spring" />
  </object>

  <object name="ClassWithNoDefaultCtor" singleton="false">
    <property name="InjectedString" value="injected string with spring" />
  </object>

  <object name="ClassUsingInjectedPropertyInsideCtor" singleton="false">
    <property name="InjectedString" value="injected string with spring" />
  </object>

  <object name="ClassWithManyCtors" singleton="false">
    <property name="InjectedString" value="injected string with spring" />
  </object>

  <object name="ClassBase" singleton="false">
    <property name="InjectedString" value="injected string with spring" />
  </object>

  <object name="ClassConfigurableInheritingFromBase" singleton="false">
    <property name="InjectedString" value="injected string with spring" />
    <property name="InjectedStringSubclass" value="injected string to subclass with spring" />
  </object>

</objects>